<head>
  <%= render 'hed/bar', hed: @hed %>
</head>
<body>

  <div class="post-edit-title">

<h1>Editing Book</h1>
<%= form_for(@book) do |f| %>
  <p>Title</p>
  <%= f.text_field :title , class: "edit-title"%>
  <p>Body</p>
  <%= f.text_area :body , class: "edit-body"%>
  <br>
  <br>
  <%= f.submit "Update Book" %>
<% end %>

<p>
  <%= link_to "show", post_path %>
  |
    <a href="/posts/new">Back</a>
</p>
</div>
</body>
</html>
