

<head>
	<%= render 'hed/bar', hed: @hed %>
</head>
<body>

<div class="flash">
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>
</div>


<div class="container">
 <div class="row">
 	<div class="col-lg-3" style="background-color: white">

 		<h2>User info</h2>

 		<% if @book.user.image != nil %>
			<%= attachment_image_tag @book.user, :image, :fill, 150, 150, format: 'jpeg' %>
		<% else %>
			<%= image_tag 'sample_img.gif', style: "height: 150px" %>
		<% end %>

 		<table class="table table-hover">

 			<tbody>

 				 <tr>
 					<td>name</td>
 					<td><%= @book.user.name %></td>
 				 </tr>

 				 <tr>
 					<td>Introduction</td>
 					<td><%= @book.user.introduction %></td>
 				 </tr>

 			</tbody>

 		</table>

<%= link_to(edit_user_path(@book.user.id), class:  "btn btn-default") do %>
		<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
<% end -%>

<h1>New book</h1>

<%= form_for(@post) do |f| %>

  <p>Title</p>
  <%= f.text_field :title , class: "edit-title"%>

  <p>Body</p>
  <%= f.text_area :body, class: "edit-body"%>
  <br>
  <%= f.submit 'Create Book', class: "btn btn-primary" %>

<% end %>

 	</div>

<div class="col-lg-9">
 <h1>Book detail</h1>

	<table class="table table-striped">
		<thead>
		</thead>
		<tbody>
		  <div class="flash">
              <% flash.each do |key, value| %>
              <%= content_tag(:div, value, class: "#{key}") %>
              <% end %>
          </div>


               <table class="table table-hover">
	           <thead>
	           </thead>
	 <tbody>
		  <tr>
			  <td><span><%= attachment_image_tag @book.user, :image, :fill, 50, 50, format: 'jpeg' %></span></td>
			  <td><%= @book.title %></td>
			  <td><%= @book.body %></td>

			 <% if current_user.id == @book.user_id %>
				<td><h4><span class="label label-success"><%= link_to "edit", edit_post_path(@book.id) %></span></h4></td>
				<td><h4><span class="label label-danger"><%= link_to "destroy", post_path(@book), method: :delete, "data-confirm" =>"Are you sure？" %></span></h4></td>
			 <% else %>
				<td></td>
				<td></td>

			 <% end %>
		  </tr>
	 </tbody>
</table>

		</tbody>
	</table>
</div>


</body>
</html>

